body {
    background-color: #f8f9fa;
}

.card {
    margin-top: 100px;
}

.card-header {
    background-color: #007bff;
    color: #fff;
}

/* Additional styling for the header */
.navbar {
    margin-bottom: 20px;
}

/* Adjust spacing for buttons in the table */
.table td .btn {
    margin-right: 10px;
}

.table td .btn:last-child {
    margin-right: 0;
}

/* Margin for additional table */
.mt-5 {
    margin-top: 3rem;
}
